/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
    font-family: 'Raleway', sans-serif;
	background:#000;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.layouts-title {
	font-size: 26px;
	margin:15px 0px;
}

.layouts ul li {
	margin-bottom:5px;
}

.layouts ul li a {
	font-size: 17px;
	display: inline-block;
	padding:3px 10px;
}

.layouts ul li a:hover {
	background:#000;
	color:#fff;
}

/* -- END RESET -- */

.row {
	max-width: 1250px;
}

.row.row-sm {
	max-width: 1070px;
}

/* -- main styles -- */

.nopad {
	padding:0px;
}

.nopadleft {
	padding-left:0px;
}

.nopadright {
	padding-right:0px;
}

strong {
	font-weight: bold;
}

i {
	font-style: italic;
}

em {
	font-style: italic;
}

.clear {
	clear:both;
}

.alignleft {
	float:left;
	margin-right:15px;
	margin-bottom:15px;
}

.alignright {
	float:right;
	margin-left:15px;
	margin-bottom:15px;
}

.invi {
	visibility: hidden;
	opacity: 0;
}

/* fancybox */

.fancybox-close {
    position: absolute;
    top: -35px;
	right: -35px;
    background:url(../img/fancy-close.png) no-repeat center center;
    background-size:cover;
    width:24px;
    height: 24px;
}

.fancybox-close:hover {
	opacity: 0.8;
}

.fancybox-prev {
    left: -60px;
}

.fancybox-prev span {
	background:url(../img/fancy-prev.png) no-repeat center center;
}

.fancybox-next {
	right:-60px;
}

.fancybox-next span {
	background:url(../img/fancy-next.png) no-repeat center center;
}

.btn-sub, .btn-sub:active, .btn-sub:focus {
	display: inline-block;
	float: right;
	text-transform: uppercase;
	font-size: 11px;
	padding:9px 15px;
	padding-right: 35px;
	text-align: center;
	border:1px solid #fff;
	color:#fff;
	line-height: 1.5;
	position: relative;
	transition:0.3s;
}

.btn-sub:after {
	content:"";
	position: absolute;
	top:50%;
	right:14px;
	width: 9px;
	height: 16px;
	margin-top:-8px;
	background:url(../img/btn-sub.png) no-repeat left center;
}

.btn-sub:hover {
	color:#000;
	background:#fff;
}

.btn-sub:hover:after {
	background:url(../img/btn-sub.png) no-repeat right center;
}

.btn-white, .btn-white:active, .btn-white:focus {
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2.3px;
	padding:9px 15px;
	text-align: center;
	border:1px solid #fff;
	color:#000;
	line-height: 1.5;
	position: relative;
	background:#fff;
	min-width: 220px;
	transition:0.3s;
}

.btn-white:hover {
	color:#fff;
	background:#000;
}

/* header */

.home .nav {
	text-align: left;
}

.home .logo {
	display: none;
}

.header {
	padding-top:28px;
	padding-bottom:60px;
}

.nav ul {
	display: inline-block;
	padding-top:6px;
}

.nav ul li {
	display: inline-block;
	margin-right: 45px;
}

.nav ul li:last-child {
	margin-right: 30px;
}

.nav ul li a {
	color:#fff;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
	transition: all 0.4s;
	font-size: 13px;
}

.nav ul li a:after {
	position: absolute;
	top: 130%;
	margin-top: 0px;
	content: "";
	display: block;
	width: 0px;
	height: 0.16667em;
	background: #fff none repeat scroll 0% 0%;
	transition: width 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.nav ul li a:hover:after {
	width: 32px;
}


.intro-hold .row {
	background:url(../img/bg-intro.png) no-repeat right top;
}

.intro {
	margin-bottom:75px;
	position: relative;
	z-index: 5;
}

.intro-content {
	display: inline-block;
	max-width: 260px;
	color:#fff;
	margin-top:210px;
	margin-bottom:340px;
}

.intro-author {
	font-size: 13px;
	letter-spacing: 4px;
	line-height: 18px;
	margin-top:10px;
	margin-bottom:45px;
}

.intro-more, .intro-more:active, .intro-more:focus {
	margin-top:45px;
	font-size: 10px;
	color:#fff;
	background:url(../img/intro-more.png) no-repeat bottom center;
	padding-bottom:42px;
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2.5px;
}

.intro-more:hover {
	color:#fff;
	opacity: 0.8;
}

/* about blocks */

.anchor {
	position: relative;
	top:-50px;
}

.intro-about {
	padding:0px 17%;
}

.about-block {
	float: left;
	margin-bottom:40px;
	display: inline-block;
	text-align: left;
}

.about-block a {
	height: 300px;
	display: block;
	width: 100%;
	position: relative;
}

.about-block.ab1 {
	width: 55%;
}

.about-block.ab2 {
	width: 45%;
	margin-top:120px;
}

.about-block.ab3 {
	width: 460px;
	float: none;
}

.about-block-img {
	height: 310px;
	width: 310px;
	background-size: cover !important;
	position: relative;
}

.about-block-img:before {
	content:"";
	position: absolute;
	z-index: -1;
	border:1px solid #fff;
	left:13px;
	right: 0;
	top:13px;
	bottom:0;
	display: block;
	width: 100%;
	height: 100%;
	transition:0.2s;
}

.about-block-img:after {
	content:"";
	position: absolute;
	left:0;
	right: 0;
	top:0;
	bottom:0;
	background:rgba(0,0,0,0.75);
	transition:0.2s;
	visibility: visible;
	opacity: 1;
}

.about-block a:hover .about-block-img:after {
	visibility: hidden;
	opacity: 0;
}

.about-block a:hover .about-block-img:before {
	left:0px;
	top:0px;
}

.about-block-text {
	left:180px;
	position: absolute;
	top:50%;
	transform:translateY(-50%);
	width: 260px;
	color:#fff;
	font-size: 23px;
	line-height: 27px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	z-index: 3;
}

.about-block-text span {
	letter-spacing: 2px;
	font-size: 10px;
	line-height: 12px;
	display: block;
	margin-top:6px;
}

.about-block.ab2 a {
	height: 230px;
}

.about-block.ab2 .about-block-img {
	height: 230px;
}

.about-block.ab3 a {
	height: 230px;
}

.about-block.ab3 .about-block-img {
	height: 230px;
}

.or {
	text-align: center;
	font-size: 12px;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 18px;
	margin-bottom:35px;
	letter-spacing: 2px;
	color:#fff;
}

/* portfolio */

.portfolio-list ul li {
	float: left;
	width: 23%;
	margin-right: 2.6666%;
	margin-bottom:35px;
}

.portfolio-list ul li:nth-child(4n) {
	margin-right: 0px;
}

.portfolio-list ul li a {
	height: 287px;
	display: block;
	background-size: cover !important;
}

/* about */

.content-about {
	padding:0px 3%;
}

.entry {
	margin-bottom:25px;
}

/* catalogue */

.side-left {
	padding-right: 30px;
}

.content-right {
	padding-left:20px;
}

.side-left {
	color:#fff;
}

.side-filter {
	margin-bottom:30px;
}

.side-filter-title {
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom:15px;
}

.side-filter-content ul li a {
	font-size: 12px;
	color:#fff;
	line-height: 16px;
	letter-spacing: 2px;
}

.side-filter-content ul li a:hover {
	opacity: 0.8;
}

.catalogue .grid-item {
	width: 27.3333%;
	margin-bottom:30px;
	margin-right: 6%;
}

.catalogue .grid-item:nth-child(3n) {
	margin-right: 0px;
}

.grid-item a img {
	width: 100%;
}

.grid-item a {
	position: relative;
	display: block;
}

.grid-item a:after {
	content:"";
	position: absolute;
	left:0;
	right: 0;
	bottom:0;
	top:0;
	background:url(../img/product-shadow.png) repeat-x bottom left;
	visibility: hidden;
	opacity: 0;
	transition:0.2s;
}

.grid-item a span {
	display: inline-block;
	position: absolute;
	bottom:22px;
	left:25px;
	right: 25px;
	background:#fff;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	color:#000;
	z-index: 3;
	padding:8px 5px;
	visibility: hidden;
	opacity: 0;
	transition:0.2s;
}

.grid-item a:hover span, .grid-item a:hover:after {
	visibility: visible;
	opacity: 1
}

.catalogue {
	margin-bottom:35px;
}

.breads {
	margin-bottom:20px;
}

.breads ul li {
	display: inline-block;
	color:#fff;
	font-weight: 500;
	font-size: 13px;
	position: relative;
	margin-bottom:10px;
}

.breads ul li:after {
	content:" >";
}

.breads ul li:last-child:after {
	display: none;
}

.breads ul li a {
	color:#fff;
}

.breads ul li a:hover {
	opacity: 0.8;
}

.sort {
	margin-bottom:20px;
	color:#fff;
	font-weight: 500;
	font-size: 13px;
}

.sort a {
	display: inline-block;
	color:#fff;
}

.sort a:hover {
	opacity: 0.8;
}


/* pagination */

.pagination {
	margin-bottom:20px;
}

.pagination ul li {
	display: inline-block;
	font-size: 14px;
	color:#474747;
	font-weight: 300;
	min-width: 28px;
	margin:0px 5px;
	margin-bottom:10px;
}

.pagination ul li a {
	display: inline-block;
	text-align: center;
	color:#fff;
	font-size: 12px;
	text-transform: uppercase;
	padding:0px 5px;
	border-radius:3px;
	width: 40px;
	line-height: 36px;
	border:1px solid #fff;
}

.pagination ul li a:hover {
	color:#000;
	background:#fff;
}

.pagination .current {
	display: inline-block;
	text-align: center;
	color:#000;
	background:#fff;
	font-size: 12px;
	text-transform: uppercase;
	padding:0px 5px;
	border-radius:3px;
	width: 40px;
	line-height: 36px;
	border:1px solid #fff;
}

/* single */

.single-img {
	margin-bottom:30px;
}

.single-title {
	color:#fff;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 31px;
	list-style-position: 37px;
	letter-spacing: 4.5px;
	position: relative;
	padding-bottom:9px;
	margin-bottom:18px;
}

.single-title:after {
	content:"";
	position: absolute;
	left:0;
	bottom:0;
	width: 170px;
	height: 3px;
	background:#fff;
}

.single-price {
	color:#fff;
	font-size: 28px;
	text-transform: uppercase;
	margin-bottom:6px;
}

.single-text {
	font-size: 12px;
	line-height: 17px;
	color:#fff;
	margin-bottom:12px;
}

.single-cta {
	margin-bottom:70px;
}

.single-cta select, .single-cta select:focus {
	display: inline-block;
	max-width: 220px;
	margin-right: 25px;
	color:#fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2px;
	border:1px solid #fff;
	background:url(../img/arrow-select.png) no-repeat right center #000;
	text-align: center;
	height: 38px;
}

/* interior */

.interior-heading {
	color:#fff;
	font-size: 42px;
	line-height: 46px;
	margin-bottom:40px;
	text-transform: uppercase;
	letter-spacing:4px;
}

.interior-text {
	color:#fff;
	line-height: 23px;
	padding:0px 13%;
	text-align: justify;
	margin-bottom:55px;
}

.section-title {
	font-size: 28px;
	color:#fff;
	line-height: 32px;
	margin-bottom:45px;
	letter-spacing: 2.5px;
}

.interior-gallery {
	margin-bottom:15px;
}

.interior-item {
	margin-bottom:45px;
	padding:0px 35px;
}

.interior-item a {
	display: block;
	background-size: cover !important;
	height: 345px;
	position: relative;
}

.interior-item a:hover {
	opacity: 0.9;
}

.interior-item a:after {
	content:"";
	position: absolute;
	right: 8px;
	bottom:7px;
	width: 37px;
	height: 37px;
	background:url(../img/interior-after.png) no-repeat center center;
}

.interior-item span {
	text-align: center;
	color:#fff;
	display: block;
	margin-top:15px;
	font-size: 15px;
}

.interior-item ul {
	display: none !important;
}

.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: left;
}

.features-list {
	margin-bottom:30px;
}

.feature-item {
	margin-bottom:30px;
}

.feature-item img {
	margin-bottom:30px;
}

.feature-item span {
	color:#fff;
	display: block;
	text-transform: uppercase;
	font-size: 17px;
	line-height: 20px;
	letter-spacing: 1px;
}

.mb40 {
	margin-bottom:40px;
}



/* insta */

.insta-feed ul li {
	display: inline-block;
	width: 14.6666%;
	margin-right: 2.4%;
	float: left;
	margin-bottom:30px;
	color:#fff;
	font-size: 10px;
	text-transform: uppercase;
}

.insta-feed ul li:nth-child(6n) {
	margin-right: 0px;
}

.insta-feed ul li span {
	display: block;
	margin-top:12px;
}

/* footer */

.footer {
	margin:50px 0px;
}

.nav-footer ul {
	display: inline-block;
	padding-top:2px;
}

.nav-footer ul li {
	display: inline-block;
	margin-right: 45px;
}

.nav-footer ul li:last-child {
	margin-right: 30px;
}

.nav-footer ul li a {
	color:#fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	position: relative;
	transition: all 0.4s;
}

.nav-footer ul li a:after {
	position: absolute;
	top: 130%;
	margin-top: 0px;
	content: "";
	display: block;
	width: 0px;
	height: 0.16667em;
	background: #fff none repeat scroll 0% 0%;
	transition: width 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.nav-footer ul li a:hover:after {
	width: 25px;
}

ul.soc {
	float: right;
	padding-top:0px;
}

ul.soc li {
	margin-right: 10px;
}

ul.soc li:last-child {
	margin-right: 0px;
}

ul.soc li a:hover {
	opacity: 0.8;
}

ul.soc li a:after {
	display: none;
}

@media screen and (max-width:1270px) {

	.header {
		padding-left:15px;
		padding-right: 15px;
	}

	.intro {
		padding:0px 15px;
	}

	.intro-about {
	    padding: 0px 10%;
	}

	.inner {
		padding:0px 15px;
	}

	.interior-item a {
		height: 270px;
	}

}

@media screen and (max-width:1090px) {

	.footer {
		padding-left:15px;
		padding-right: 15px;
	}


	.portfolio-list ul li a {
	    height: 240px;
	}

}


@media only screen and (min-width: 40.063em) and (max-width: 64em) {



}

@media screen and (max-width:63.9em) {

	.interior-item {
	    padding: 0px 15px;
	}

	.interior-item a{
		height: 215px;
	}

	.logo {
		display: block !important;
		position: relative;
	}

	.trigger {
		display: inline-block;
		position: absolute;
		right:10px;
		top:9px;
		width: 19px;
		height: 17px;
		background:url(../img/trigger.png) no-repeat center center;
		cursor: pointer;
	}

	.trigger.close {
		background:url(../img/trigger-close.png) no-repeat center center;
	}

	.header {
		padding-top: 20px;
		padding-bottom: 35px;
		position: relative;
		z-index: 6;
	}

	.header.close {
		background:#000;
	}

	.intro-content {
		margin-top:100px;
		margin-bottom: 150px;
	}

	.nav {
		padding:0px 15px;
		padding-bottom:20px;
		background:#000;
		display:none;
		position: absolute;
		top:80%;
		left:0;
		right: 0;
		z-index: 6;
		border-bottom:1px solid #fff;
	}

	.nav.close {
		display: block;
	}

	.nav ul {
		padding-top:4px;
	}

	.nav ul li {
		margin-right: 17px;
	}

	.nav ul li:last-child {
	    margin-right: 9px;
	}

	.nav ul li a {
		font-size: 12px;
	}

	.btn-sub, .btn-sub:active, .btn-sub:focus {
		font-size: 10px;
		padding:7px 10px;
		padding-right: 38px;
	}

	.btn-sub:after {
		right:10px;
	}

	.portfolio-list ul li a {
	    height: 170px;
	}


}


@media screen and (max-width:960px) {

	.intro-about {
		padding:0px 15px;
	}

	.about-block-text {
		left:115px;
		width: 195px;
	}

	.intro-hold .row {
		background-size: contain;
	}

}

@media screen and (max-width:765px) {

	.intro-about {
		padding:0px;
	}

	.about-block {
		width: 100% !important;
	}

	.about-block-img {
		width: 95% !important
	}

	.about-block.ab2 {
	    margin-top: 0px;
	}

	.about-block-img {
	    height: 230px;
	}

	.about-block a {
		height: 230px;
	}

	.about-block-text {
	    left: 40px;
	    width: 230px;
	}

	.nav {
		text-align: center !important;
	}

	.nav ul {
		display: block;
	}

	.nav ul li {
		display: list-item;
		margin-right: 0px !important;
		margin-bottom:10px;
	}

	.nav ul li:last-child {
		margin-bottom:20px;
	}

	.nav ul li a {

	}

	.btn-sub, .btn-sub:active, .btn-sub:focus {
		float: none;
	}



}

@media screen and (max-width:640px) {

	.fancybox-close {
	    top: -30px;
	    right: -10px;
	    width:20px;
	    height: 20px;
	}

	.insta-feed ul li {
		width: 48%;
		margin-right: 4%;
	}

	.insta-feed ul li:nth-child(2n) {
		margin-right: 0px;
	}

	.footer {
		margin:25px 0px;
	}

	.intro-content {
   		margin-top: 65px;
	    margin-bottom: 90px;
	}

	.nav-footer ul li {
	    display: inline-block;
	    margin-right: 25px;
	}

	.logo-footer {
		margin-bottom:10px;
	}

	ul.soc li {
	    margin-right: 10px;
	}

	.portfolio-list ul li {
		width: 100%;
		margin-right: 0px;
		margin-bottom:15px;
	}

	.portfolio-list ul li a {
	    height: 240px;
	}

	.side-left, .content-right {
		padding:0px;
	}

	.catalogue .grid-item {
		width:100%;
		margin-bottom:20px;
		margin-right: 0%;
	}

	.breads {
		margin-bottom:0px;
	}

	.sort {
		text-align: left;
	}

	.pagination ul li {
		margin: 0px 2px;
		margin-bottom: 5px;
	}

	.pagination ul li a {
		width: 30px;
		line-height: 28px;
	}

	.pagination .current {
		width: 30px;
		line-height: 28px;
	}

	.single-title {
		font-size:20px;
		line-height: 24px;
	}

	.single-price {
		font-size: 18px;
		line-height: 22px;
	}

	.interior-text {
		padding:0px 15px;
	}

	.interior-heading {
	    font-size: 22px;
	    line-height: 30px;
	}

	.section-title {
	    font-size: 20px;
	    line-height: 24px;
	    margin-bottom:30px;
	}

	.interior-item {
	    margin-bottom: 25px;
	}


}
